
.table {
  width: 100%;
  max-width: 100%;
  position: relative;
  margin-bottom: 1rem;
  background-color: #fff;
  border-collapse: collapse;
}

.table thead th {
  
    background: rgb(165, 17, 17);
    position: sticky;
    top: 0; 
  color: white;
  vertical-align: bottom;
  border-bottom: 2px solid #18436e;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table tbody tr:hover {
  background-color: violet;
  color: black;
  font-weight: 400;
}

.table tbody tr:nth-child(odd) {
  background-color: #26aac2;
}

.table tbody tr:nth-child(odd):hover {
  background-color: coral;
}

/* Responsive styles */
@media (max-width: 390px) {
  .table-responsive {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  th {
    display: none;
    position: sticky;
    top: 0; 
  }
  
  .table {
    margin-bottom: 0;
    background-color: transparent;
    border-collapse: separate;
  }
  
  .table thead {
    display: none;
  }
  
  .table tbody tr {
    display: block;
    margin-bottom: 1rem;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    background-color: #07366e;
    border: 1px solid #dee2e6;
  }
  
  .table tbody td {
    display: block;
    text-align: left;
    font-size: 13px;
    white-space: nowrap;
  }
  
  .table tbody td::before {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .table tbody td::before {
    float: left;
    text-transform: uppercase;
    color: #999999;
  }
}